body {
    color: blue;
    background-color: cadetblue;
    text-align: center;
    font-family: "Arial";
}
h1 {
    text-align: center;
    color: chocolate;
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#container {
    background-color: darkblue;
    color: whitesmoke;
    font-weight: bold;
}
#post {
    background-color: whitesmoke;
    color: black;
    font-size: x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}
p {
    color: brown;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
}